doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/assets/css/main.css')
    |       
    title Hello
  |     
  body.body
    h1 Matrix
    h3 Three
    ul.o-matrix.--three
      li.o-matrix__full Lorem
      li  
        a.o-matrix__link(href='#') Ipsuma
      li
        a.o-matrix__link(href='#') Site
      li Amet
      li.all-cols Consectetuer
    h3 Two
    ul.o-matrix.--two
      li.o-matrix__full Lorem
      li.o-matrix__full  
        a.o-matrix__link(href='#') Ipsuma
      li
        a.o-matrix__link(href='#') Site
      li Amet
      li.o-matrix__full Consectetuer
    h3 Two
    ul.o-matrix.--four
      li.o-matrix__full Lorem
      li  
        a.o-matrix__link(href='#') Ipsuma
      li
        a.o-matrix__link(href='#') Site
      li Amet
      li.o-matrix__full Consectetuer
    h3 Two
    ul.o-matrix.--five
      li.o-matrix__full Lorem
      li  
        a.o-matrix__link(href='#') Ipsuma
      li
        a.o-matrix__link(href='#') Site
      li Amet
      li.o-matrix__full Consectetuer
    h1 Widths
    h3 Whole
    div(class='+u-one-whole  +success') +t-one-whole { width: 100%;}
    h3 Halves
    div(class='+u-one-half  +info') +t-one-half { width: 50%;}
    h3 Thirds
    div(class='+u-one-third  +warning')              { width: 33.333%;}
    div(class='+u-two-thirds  +warning')             { width: 66.666%;}
    h3 Quarter
    div(class='+u-one-quarter  +danger')            { width: 25%;}
    div(class='+u-two-quarters  +danger')           { @extend %e-one-half;}
    div(class='+u-three-quarters  +danger')         { width: 75%;}
    h3 Fifth
    div(class='+u-one-fifth  +error')              { width: 20%;}
    div(class='+u-two-fifths  +error')             { width: 40%;}
    div(class='+u-three-fifths  +error')           { width: 60%;}
    div(class='+u-four-fifths  +error')            { width: 80%;}
    h3 Sixth
    div(class='+u-one-sixth  +success')              { width: 16.666%;}
    div(class='+u-two-sixths  +success')             { @extend %e-one-third;}
    div(class='+u-three-sixths  +success')           { @extend %e-one-half;}
    div(class='+u-four-sixths  +success')            { @extend %e-two-thirds;}
    div(class='+u-five-sixths  +success')            { width: 83.333%;}
    h3 Eighth
    div(class='+u-one-eighth  +warning')             { width: 12.5%;}
    div(class='+u-two-eighths  +warning')            { @extend %e-one-quarter;}
    div(class='+u-three-eighths  +warning')          { width: 37.5%;}
    div(class='+u-four-eighths  +warning')           { @extend %e-one-half;}
    div(class='+u-five-eighths  +warning')           { width: 62.5%;}
    div(class='+u-six-eighths  +warning')            { @extend %e-three-quarters;}
    div(class='+u-seven-eighths  +warning')          { width: 87.5%;}
    h3 Tenth
    div(class='+u-one-tenth  +danger')              { width: 10%;}
    div(class='+u-two-tenths  +danger')             { @extend %e-one-fifth;}
    div(class='+u-three-tenths  +danger')           { width: 30%;}
    div(class='+u-four-tenths  +danger')            { @extend %e-two-fifths;}
    div(class='+u-five-tenths  +danger')            { @extend %e-one-half;}
    div(class='+u-six-tenths  +danger')             { @extend %e-three-fifths;}
    div(class='+u-seven-tenths  +danger')           { width: 70%;}
    div(class='+u-eight-tenths  +danger')           { @extend %e-four-fifths;}
    div(class='+u-nine-tenths  +danger')            { width: 90%;}  
    h3 Twelfth
    div(class='+u-one-twelfth  +error')            { width: 8.333%;} 
    div(class='+u-two-twelfths  +error')           { @extend %e-one-sixth;}
    div(class='+u-three-twelfths  +error')         { @extend %e-one-quarter;}
    div(class='+u-four-twelfths  +error')          { @extend %e-one-third;}
    div(class='+u-five-twelfths  +error')          { width: 41.666%} 
    div(class='+u-six-twelfths  +error')           { @extend %e-one-half;}
    div(class='+u-seven-twelfths  +error')         { width: 58.333%;}
    div(class='+u-eight-twelfths  +error')         { @extend %e-two-thirds;}
    div(class='+u-nine-twelfths  +error')          { @extend %e-three-quarters;} 
    div(class='+u-ten-twelfths  +error')           { @extend %e-five-sixths;}
    div(class='+u-eleven-twelfths  +error')        { width: 91.666%;}
    //- h1 lists
    //- ul
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- ol
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- dl
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //- ul.o-list
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- ol.o-list
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- dl.o-list
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //- ul(class='o-list  --numbered')
    //-   li this is ul that is number but has li > ul > li numbered: default with --numbered
    //-     ul
    //-       li hello
    //-       li hello
    //-       li hello
    //-   li hello
    //-   li hello
    //- ul(class='o-list  --numbered')
    //-   li this is ul that is number but has li > ul > li disc list style
    //-     ul
    //-       li.o-list__disc hello
    //-       li.o-list__disc hello
    //-       li.o-list__disc hello
    //-   li hello
    //-   li hello
    //- ol(class='o-list  --numbered')
    //-   li this is ol that is number but has li > ol > li disc list style
    //-     ol
    //-       li.o-list__disc hello
    //-       li.o-list__disc hello
    //-       li.o-list__disc hello
    //-   li hello
    //-   li hello
    //- ul(class='o-list  --inline')
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- ul(class='o-list  --horizontal')å
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- ol(class='o-list  --horizontal')
    //-   li hello
    //-   li hello
    //-   li hello
    //-   li hello
    //- dl(class='o-list  --horizontal')
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    //-   dt hello
    //-   dd hello
    h1 Trumps Margins & Padding
    h2 6
    p(class='+u-mt-6  +success') Trumps-mt-space-6
    p(class='+u-ml-6  +success') Trumps-mt-space-6
    p(class='+u-mb-6  +success') Trumps-mt-space-6
    p(class='+u-mr-6  +success') Trumps-mt-space-6
    p(class='+u-pt-6  +success') Trumps Padding Top 6 x base space
    p(class='+u-pl-6  +success') Trumps Padding Left 6 x base space
    p(class='+u-pb-6  +success') Trumps Padding Bottom 6 x base space
    p(class='+u-pr-6  +success') Trumps Padding Right 6 x base space
    hr.o-rule
    h2 5
    p(class='+u-mt-5  +success') Trumps-mt-space-5
    p(class='+u-ml-5  +success') Trumps-mt-space-5
    p(class='+u-mb-5  +success') Trumps-mt-space-5
    p(class='+u-mr-5  +success') Trumps-mt-space-5
    p(class='+u-pt-5  +success') Trumps Padding Top 5 x base space
    p(class='+u-pl-5  +success') Trumps Padding Left 5 x base space
    p(class='+u-pb-5  +success') Trumps Padding Bottom 5 x base space
    p(class='+u-pr-5  +success') Trumps Padding Right 5 x base space
    hr.o-rule
    h2 4
    p(class='+u-mt-4  +success') Trumps-mt-space-4
    p(class='+u-ml-4  +success') Trumps-mt-space-4
    p(class='+u-mb-4  +success') Trumps-mt-space-4
    p(class='+u-mr-4  +success') Trumps-mt-space-4
    p(class='+u-pt-4  +success') Trumps Padding Top 4 x base space
    p(class='+u-pl-4  +success') Trumps Padding Left 4 x base space
    p(class='+u-pb-4  +success') Trumps Padding Bottom 4 x base space
    p(class='+u-pr-4  +success') Trumps Padding Right 4 x base space
    hr.o-rule
    h2 3
    p(class='+u-mt-3  +success') Trumps-mt-space-3
    p(class='+u-ml-3  +success') Trumps-mt-space-3
    p(class='+u-mb-3  +success') Trumps-mt-space-3
    p(class='+u-mr-3  +success') Trumps-mt-space-3
    p(class='+u-pt-3  +success') Trumps Padding Top 3 x base space
    p(class='+u-pl-3  +success') Trumps Padding Left 3 x base space
    p(class='+u-pb-3  +success') Trumps Padding Bottom 3 x base space
    p(class='+u-pr-3  +success') Trumps Padding Right 3 x base space
    hr.o-rule
    h2 2
    p(class='+u-mt-2  +success') Trumps-mt-space-2
    p(class='+u-ml-2  +success') Trumps-mt-space-2
    p(class='+u-mb-2  +success') Trumps-mt-space-2
    p(class='+u-mr-2  +success') Trumps-mt-space-2
    p(class='+u-pt-2  +success') Trumps Padding Top 2 x base space
    p(class='+u-pl-2  +success') Trumps Padding Left 2 x base space
    p(class='+u-pb-2  +success') Trumps Padding Bottom 2 x base space
    p(class='+u-pr-2  +success') Trumps Padding Right 2 x base space
    hr.o-rule
    h2 1/2
    p(class='+u-mt-half  +success') Trumps-mt-space
    p(class='+u-ml-half  +success') Trumps-mt-space
    p(class='+u-mb-half  +success') Trumps-mt-space
    p(class='+u-mr-half  +success') Trumps-mt-space
    p(class='+u-pt-half  +success') Trumps Padding Top base space
    p(class='+u-pl-half  +success') Trumps Padding Left base space
    p(class='+u-pb-half  +success') Trumps Padding Bottom base space
    p(class='+u-pr-half  +success') Trumps Padding Right base space
    hr.o-rule
    h2 base 1
    p(class='+u-mt  +success') Trumps-mt-space
    p(class='+u-ml  +success') Trumps-mt-space
    p(class='+u-mb  +success') Trumps-mt-space
    p(class='+u-mr  +success') Trumps-mt-space
    p(class='+u-pt  +success') Trumps Padding Top base space
    p(class='+u-pl  +success') Trumps Padding Left base space
    p(class='+u-pb  +success') Trumps Padding Bottom base space
    p(class='+u-pr  +success') Trumps Padding Right base space
    hr.o-rule
    h2 1/2
    p(class='+u-mt-half  +success') Trumps-mt-space
    p(class='+u-ml-half  +success') Trumps-mt-space
    p(class='+u-mb-half  +success') Trumps-mt-space
    p(class='+u-mr-half  +success') Trumps-mt-space
    p(class='+u-pt-half  +success') Trumps Padding Top base space
    p(class='+u-pl-half  +success') Trumps Padding Left base space
    p(class='+u-pb-half  +success') Trumps Padding Bottom base space
    p(class='+u-pr-half  +success') Trumps Padding Right base space
    hr.o-rule
    h2 1/3
    p(class='+u-mt-third  +success') Trumps-mt-space
    p(class='+u-ml-third  +success') Trumps-mt-space
    p(class='+u-mb-third  +success') Trumps-mt-space
    p(class='+u-mr-third  +success') Trumps-mt-space
    p(class='+u-pt-third  +success') Trumps Padding Top base space
    p(class='+u-pl-third  +success') Trumps Padding Left base space
    p(class='+u-pb-third  +success') Trumps Padding Bottom base space
    p(class='+u-pr-third  +success') Trumps Padding Right base space
    hr.o-rule
    h2 1/4
    p(class='+u-mt-quarter  +success') Trumps-mt-space
    p(class='+u-ml-quarter  +success') Trumps-mt-space
    p(class='+u-mb-quarter  +success') Trumps-mt-space
    p(class='+u-mr-quarter  +success') Trumps-mt-space
    p(class='+u-pt-quarter  +success') Trumps Padding Top base space
    p(class='+u-pl-quarter  +success') Trumps Padding Left base space
    p(class='+u-pb-quarter  +success') Trumps Padding Bottom base space
    p(class='+u-pr-quarter  +success') Trumps Padding Right base space
    hr.o-rule
    h2 1/5
    p(class='+u-mt-fifth  +success') Trumps-mt-space
    p(class='+u-ml-fifth  +success') Trumps-mt-space
    p(class='+u-mb-fifth  +success') Trumps-mt-space
    p(class='+u-mr-fifth  +success') Trumps-mt-space
    p(class='+u-pt-fifth  +success') Trumps Padding Top base space
    p(class='+u-pl-fifth  +success') Trumps Padding Left base space
    p(class='+u-pb-fifth  +success') Trumps Padding Bottom base space
    p(class='+u-pr-fifth  +success') Trumps Padding Right base space
    hr.o-rule
    h2 1/6
    p(class='+u-mt-sixth  +success') Trumps-mt-space
    p(class='+u-ml-sixth  +success') Trumps-mt-space
    p(class='+u-mb-sixth  +success') Trumps-mt-space
    p(class='+u-mr-sixth  +success') Trumps-mt-space
    p(class='+u-pt-sixth  +success') Trumps Padding Top base space
    p(class='+u-pl-sixth  +success') Trumps Padding Left base space
    p(class='+u-pb-sixth  +success') Trumps Padding Bottom base space
    p(class='+u-pr-sixth  +success') Trumps Padding Right base space
    .element
      p vertical align with @include vertical-align;
    .table-display
      .table-display__inner
        p vertical align with @include vertical-align-table;
    p.class-name centered with @include center-content;
    ul.o-options
      li
        a hello
      li
        a hello
      li
        a hello
    table(class='o-table  --rwd  --striped')
      colgroup
        col.column1
        col.columns2plus3(span='2')
      tbody
        tr
          th Lime
          th Lemon
          th Orange
        tr
          td Green
          td Yellow
          td Orange
    table(class='o-table  --rwd')
      tr
        th First name
        th Last name
      tr
        td John
        td Doe
      tr
        td Jane
        td Doe
    table(class='o-table  --hover  --bordered  --data')
      tr
        th First name
        th Last name
      tr
        td John
        td Doe
      tr
        td Jane
        td Doe
    table(class='o-table  --hover  --bordered')
      tr
        th First name
        th Last name
      tr
        td John
        td Doe
      tr
        td Jane
        td Doe
    table(class='o-table  --hover')
      tr
        th First name
        th Last name
      tr
        td John
        td Doe
      tr
        td Jane
        td Doe
    table.o-table
      tr
        th First name
        th Last name
      tr
        td John
        td Doe
      tr
        td Jane
        td Doe
    p.works works
    a.o-link-complex(href='log-in')
      i Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      span.o-link-complex__target Log in
    hr.o-rule
    p
      | Luke continued,
      q
        | And then she called him a
        q scruffy-looking nerf-herder
        | ! I think I’ve got a chance!
      | The poor naive fool…
    hr.o-rule
    blockquote
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      b Albert Einstein
    hr.o-rule
    blockquote.o-blockquote
      q Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      b.o-blockquote__source Albert Einstein
    hr.o-rule
    blockquote.o-blockquote-right
      q Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      b.o-blockquote__source Albert Einstein
    hr.o-rule
    blockquote.o-blockquote-right
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      b.o-blockquote__source Albert Einstein
    hr.o-rule
    blockquote.o-blockquote
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      b.o-blockquote__source Albert Einstein
    hr.o-rule
    h1 Progress Bars
    div.o-progress
      div(
          class='o-progress__bar  +info', 
          role='progressbar', 
          aria-valuenow='20', 
          aria-valuemin='0', 
          aria-valuemax='100', 
          style='width: 20%;'
        )
        span.o-progress__bar-label 20% Complete

    div.o-progress
      div(
        class='o-progress__bar  --striped  +danger', 
        role='progressbar', 
        aria-valuenow='60', 
        aria-valuemin='0', 
        aria-valuemax='100', 
        style='width: 60%;'
        )
        span.o-progress__bar-label 60% Complete

    div.o-progress
      div(
        class='o-progress__bar  +warning', 
        role='progressbar', a
        ria-valuenow='60', 
        aria-valuemin='0', aria-valuemax='100', 
        style='width: 60%;'
        )
        span.o-progress__bar-label.sr-only 60% Complete

    div.o-progress
      div(class='o-progress__bar  +error', 
        role='progressbar', 
        aria-valuenow='60', 
        aria-valuemin='0', 
        aria-valuemax='100', 
        style='width: 60%;'
        )
        span.o-progress__bar-label 60% Complete

    div.o-progress
      div(class='o-progress__bar  --striped  +success', 
        role='progressbar', 
        aria-valuenow='60', 
        aria-valuemin='0', 
        aria-valuemax='100', 
        style='width: 60%;'
        )
        span.o-progress__bar-label.sr-only 60% Complete
    br
    hr.o-rule
    h1 Pagination
    ol.o-nav.o-pagination
      li.o-pagination__first
        a(class='o-btn' href='') First
      li
        a(class='o-btn' href='') 1
      li
        a(class='o-btn' href='') 2
      li
        a(class='o-btn +active' href='') 3
      li
        a(class='o-btn' href='') 4
      li
        a(class='o-btn' href='') 5
      li.o-pagination__last
        a(class='o-btn' href='') Last
    ul.o-nav.o-pagination
      li.o-pagination__first
        a(href='') First
      li.o-pagination__prev
         a(href='/') Previous
      li
        a(href='') 1
      li
        a(href='/page/2') 2
      li.current
        a(href='/page/3') 3
      li
        a(href='/page/4') 4
      li
        a(href='/page/5') 5
      li.o-pagination__next
        a(href='') Next
      li.o-pagination__last
        a(href='/') Last
    hr.o-rule
    h1 This or That
    h1.o-this-or-this
      a.o-this-or-this__cols.u-two-fifths(href='#')
        | Free
      span.o-this-or-this__cols.u-one-fifth
        | or
      a.o-this-or-this__cols.u-two-fifths(href='#')
        | Pro
    hr.o-rule
    div.o-this-or-this
      p.o-this-or-this__cols.u-two-fifths
        a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      span.o-this-or-this__cols.u-one-fifth
        | or
      p.o-this-or-this__cols.u-two-fifths
        a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    hr.o-rule
    h1 Stat Group
    .o-stat-group
      dl.o-stat
        dt.o-stat__title Tweets
        dd.o-stat__value 27,740
      dl.o-stat
        dt.o-stat__title Following
        dd.o-stat__value 11,529
      dl.o-stat
        dt.o-stat__title Followers
        dd.o-stat__value 12,105
    hr.o-rule
    h1 Font Face Fonts
    p( class='+u-font-200  +u-font-jumbo' style="font-family:'gt-walsheim';") the fox jumps over the lazy dog
    p( class='+u-font-200  +u-font-italic  +u-font-jumbo' style="font-family:'gt-walsheim';") the fox jumps over the lazy dog
    p( class='+u-font-400  +u-font-jumbo' style="font-family:'gt-walsheim';") the fox jumps over the lazy dog
    p( class='+u-font-400  +u-font-italic  +u-font-jumbo' style="font-family:'gt-walsheim';") the fox jumps over the lazy dog
    p( class='+u-font-500  +u-font-jumbo' style="font-family:'gt-walsheim';") the fox jumps over the lazy dog
    p( class='+u-font-500  +u-font-italic  +u-font-jumbo' style="font-family:'gt-walsheim';") the fox jumps over the lazy dog
    hr.o-rule
    h1 Font Icons Github
    i(class='o-icon  +github-alert')
    i(class='o-icon  +github-alignment-align')
    i(class='o-icon  +github-alignment-aligned-to')
    i(class='o-icon  +github-alignment-unalign')
    i(class='o-icon  +github-arrow-down')
    i(class='o-icon  +github-arrow-left')
    i(class='o-icon  +github-arrow-right')
    i(class='o-icon  +github-arrow-small-down')
    i(class='o-icon  +github-arrow-small-left')
    i(class='o-icon  +github-arrow-small-right')
    i(class='o-icon  +github-arrow-small-up')
    i(class='o-icon  +github-arrow-up')
    i(class='o-icon  +github-beer')
    i(class='o-icon  +github-book')
    i(class='o-icon  +github-bookmark')
    i(class='o-icon  +github-briefcase')
    i(class='o-icon  +github-broadcast')
    i(class='o-icon  +github-browser')
    i(class='o-icon  +github-bug')
    i(class='o-icon  +github-calendar')
    i(class='o-icon  +github-check')
    i(class='o-icon  +github-checklist')
    i(class='o-icon  +github-chevron-down')
    i(class='o-icon  +github-chevron-left')
    i(class='o-icon  +github-chevron-right')
    i(class='o-icon  +github-chevron-up')
    i(class='o-icon  +github-circle-slash')
    i(class='o-icon  +github-circuit-board')
    i(class='o-icon  +github-clippy')
    i(class='o-icon  +github-clock')
    i(class='o-icon  +github-cloud-download')
    i(class='o-icon  +github-cloud-upload')
    i(class='o-icon  +github-code')
    i(class='o-icon  +github-color-mode')
    i(class='o-icon  +github-comment')
    i(class='o-icon  +github-comment-discussion')
    i(class='o-icon  +github-credit-card')
    i(class='o-icon  +github-dash')
    i(class='o-icon  +github-dashboard')
    i(class='o-icon  +github-database')
    i(class='o-icon  +github-device-camera')
    i(class='o-icon  +github-device-camera-video')
    i(class='o-icon  +github-device-desktop')
    i(class='o-icon  +github-device-mobile')
    i(class='o-icon  +github-diff')
    i(class='o-icon  +github-diff-added')
    i(class='o-icon  +github-diff-ignored')
    i(class='o-icon  +github-diff-modified')
    i(class='o-icon  +github-diff-removed')
    i(class='o-icon  +github-diff-renamed')
    i(class='o-icon  +github-ellipsis')
    i(class='o-icon  +github-eye')
    i(class='o-icon  +github-file-binary')
    i(class='o-icon  +github-file-code')
    i(class='o-icon  +github-file-directory')
    i(class='o-icon  +github-file-media')
    i(class='o-icon  +github-file-pdf')
    i(class='o-icon  +github-file-submodule')
    i(class='o-icon  +github-file-symlink-directory')
    i(class='o-icon  +github-file-symlink-file')
    i(class='o-icon  +github-file-text')
    i(class='o-icon  +github-file-zip')
    i(class='o-icon  +github-flame')
    i(class='o-icon  +github-fold')
    i(class='o-icon  +github-gear')
    i(class='o-icon  +github-gift')
    i(class='o-icon  +github-gist')
    i(class='o-icon  +github-gist-secret')
    i(class='o-icon  +github-git-branch')
    i(class='o-icon  +github-git-commit')
    i(class='o-icon  +github-git-compare')
    i(class='o-icon  +github-git-merge')
    i(class='o-icon  +github-git-pull-request')
    i(class='o-icon  +github-globe')
    i(class='o-icon  +github-graph')
    i(class='o-icon  +github-heart')
    i(class='o-icon  +github-history')
    i(class='o-icon  +github-home')
    i(class='o-icon  +github-horizontal-rule')
    i(class='o-icon  +github-hourglass')
    i(class='o-icon  +github-hubot')
    i(class='o-icon  +github-inbox')
    i(class='o-icon  +github-info')
    i(class='o-icon  +github-issue-closed')
    i(class='o-icon  +github-issue-opened')
    i(class='o-icon  +github-issue-reopened')
    i(class='o-icon  +github-jersey')
    i(class='o-icon  +github-jump-down')
    i(class='o-icon  +github-jump-left')
    i(class='o-icon  +github-jump-right')
    i(class='o-icon  +github-jump-up')
    i(class='o-icon  +github-key')
    i(class='o-icon  +github-keyboard')
    i(class='o-icon  +github-law')
    i(class='o-icon  +github-light-bulb')
    i(class='o-icon  +github-link')
    i(class='o-icon  +github-link-external')
    i(class='o-icon  +github-list-ordered')
    i(class='o-icon  +github-list-unordered')
    i(class='o-icon  +github-location')
    i(class='o-icon  +github-lock')
    i(class='o-icon  +github-logo-github')
    i(class='o-icon  +github-mail')
    i(class='o-icon  +github-mail-read')
    i(class='o-icon  +github-mail-reply')
    i(class='o-icon  +github-mark-github')
    i(class='o-icon  +github-markdown')
    i(class='o-icon  +github-megaphone')
    i(class='o-icon  +github-mention')
    i(class='o-icon  +github-microscope')
    i(class='o-icon  +github-milestone')
    i(class='o-icon  +github-mirror')
    i(class='o-icon  +github-mortar-board')
    i(class='o-icon  +github-move-down')
    i(class='o-icon  +github-move-left')
    i(class='o-icon  +github-move-right')
    i(class='o-icon  +github-move-up')
    i(class='o-icon  +github-mute')
    i(class='o-icon  +github-no-newline')
    i(class='o-icon  +github-octoface')
    i(class='o-icon  +github-organization')
    i(class='o-icon  +github-package')
    i(class='o-icon  +github-paintcan')
    i(class='o-icon  +github-pencil')
    i(class='o-icon  +github-person')
    i(class='o-icon  +github-pin')
    i(class='o-icon  +github-playback-fast-forward')
    i(class='o-icon  +github-playback-pause')
    i(class='o-icon  +github-playback-play')
    i(class='o-icon  +github-playback-rewind')
    i(class='o-icon  +github-plug')
    i(class='o-icon  +github-plus')
    i(class='o-icon  +github-podium')
    i(class='o-icon  +github-primitive-dot')
    i(class='o-icon  +github-primitive-square')
    i(class='o-icon  +github-pulse')
    i(class='o-icon  +github-puzzle')
    i(class='o-icon  +github-question')
    i(class='o-icon  +github-quote')
    i(class='o-icon  +github-radio-tower')
    i(class='o-icon  +github-repo')
    i(class='o-icon  +github-repo-clone')
    i(class='o-icon  +github-repo-force-push')
    i(class='o-icon  +github-repo-forked')
    i(class='o-icon  +github-repo-pull')
    i(class='o-icon  +github-repo-push')
    i(class='o-icon  +github-rocket')
    i(class='o-icon  +github-rss')
    i(class='o-icon  +github-ruby')
    i(class='o-icon  +github-screen-full')
    i(class='o-icon  +github-screen-normal')
    i(class='o-icon  +github-search')
    i(class='o-icon  +github-server')
    i(class='o-icon  +github-settings')
    i(class='o-icon  +github-sign-in')
    i(class='o-icon  +github-sign-out')
    i(class='o-icon  +github-split')
    i(class='o-icon  +github-squirrel')
    i(class='o-icon  +github-star')
    i(class='o-icon  +github-steps')
    i(class='o-icon  +github-stop')
    i(class='o-icon  +github-sync')
    i(class='o-icon  +github-tag')
    i(class='o-icon  +github-telescope')
    i(class='o-icon  +github-terminal')
    i(class='o-icon  +github-three-bars')
    i(class='o-icon  +github-tools')
    i(class='o-icon  +github-trashcan')
    i(class='o-icon  +github-triangle-down')
    i(class='o-icon  +github-triangle-left')
    i(class='o-icon  +github-triangle-right')
    i(class='o-icon  +github-triangle-up')
    i(class='o-icon  +github-unfold')
    i(class='o-icon  +github-unmute')
    i(class='o-icon  +github-versions')
    i(class='o-icon  +github-x')
    i(class='o-icon  +github-zap')
    hr.o-rule
    h1 Font Icons Feather
    i(class='o-icon  +feather-square-minus')
    i(class='o-icon  +feather-eye')
    i(class='o-icon  +feather-paper-clip')
    i(class='o-icon  +feather-mail')
    i(class='o-icon  +feather-toggle')
    i(class='o-icon  +feather-layout')
    i(class='o-icon  +feather-link')
    i(class='o-icon  +feather-bell')
    i(class='o-icon  +feather-lock')
    i(class='o-icon  +feather-unlock')
    i(class='o-icon  +feather-ribbon')
    i(class='o-icon  +feather-image')
    i(class='o-icon  +feather-signal')
    i(class='o-icon  +feather-target')
    i(class='o-icon  +feather-clipboard')
    i(class='o-icon  +feather-clock')
    i(class='o-icon  +feather-watch')
    i(class='o-icon  +feather-air-play')
    i(class='o-icon  +feather-camera')
    i(class='o-icon  +feather-video')
    i(class='o-icon  +feather-disc')
    i(class='o-icon  +feather-printer')
    i(class='o-icon  +feather-monitor')
    i(class='o-icon  +feather-server')
    i(class='o-icon  +feather-cog')
    i(class='o-icon  +feather-heart')
    i(class='o-icon  +feather-paragraph')
    i(class='o-icon  +feather-align-justify')
    i(class='o-icon  +feather-align-left')
    i(class='o-icon  +feather-align-center')
    i(class='o-icon  +feather-align-right')
    i(class='o-icon  +feather-book')
    i(class='o-icon  +feather-layers')
    i(class='o-icon  +feather-stack')
    i(class='o-icon  +feather-stack-2')
    i(class='o-icon  +feather-paper')
    i(class='o-icon  +feather-paper-stack')
    i(class='o-icon  +feather-search')
    i(class='o-icon  +feather-zoom-in')
    i(class='o-icon  +feather-zoom-out')
    i(class='o-icon  +feather-reply')
    i(class='o-icon  +feather-circle-plus')
    i(class='o-icon  +feather-circle-minus')
    i(class='o-icon  +feather-circle-check')
    i(class='o-icon  +feather-circle-cross')
    i(class='o-icon  +feather-square-plus')
    i(class='o-icon  +feather-square-minus')
    i(class='o-icon  +feather-square-check')
    i(class='o-icon  +feather-square-cross')
    i(class='o-icon  +feather-microphone')
    i(class='o-icon  +feather-record')
    i(class='o-icon  +feather-skip-back')
    i(class='o-icon  +feather-rewind')
    i(class='o-icon  +feather-play')
    i(class='o-icon  +feather-pause')
    i(class='o-icon  +feather-stop')
    i(class='o-icon  +feather-fast-forward')
    i(class='o-icon  +feather-skip-forward')
    i(class='o-icon  +feather-shuffle')
    i(class='o-icon  +feather-repeat')
    i(class='o-icon  +feather-folder')
    i(class='o-icon  +feather-umbrella')
    i(class='o-icon  +feather-moon')
    i(class='o-icon  +feather-thermometer')
    i(class='o-icon  +feather-drop')
    i(class='o-icon  +feather-sun')
    i(class='o-icon  +feather-cloud')
    i(class='o-icon  +feather-cloud-upload')
    i(class='o-icon  +feather-cloud-download')
    i(class='o-icon  +feather-upload')
    i(class='o-icon  +feather-download')
    i(class='o-icon  +feather-location')
    i(class='o-icon  +feather-location-2')
    i(class='o-icon  +feather-map')
    i(class='o-icon  +feather-battery')
    i(class='o-icon  +feather-head')
    i(class='o-icon  +feather-briefcase')
    i(class='o-icon  +feather-speech-bubble')
    i(class='o-icon  +feather-anchor')
    i(class='o-icon  +feather-globe')
    i(class='o-icon  +feather-box')
    i(class='o-icon  +feather-reload')
    i(class='o-icon  +feather-share')
    i(class='o-icon  +feather-marquee')
    i(class='o-icon  +feather-marquee-plus')
    i(class='o-icon  +feather-marquee-minus')
    i(class='o-icon  +feather-tag')
    i(class='o-icon  +feather-power')
    i(class='o-icon  +feather-command')
    i(class='o-icon  +feather-alt')
    i(class='o-icon  +feather-esc')
    i(class='o-icon  +feather-bar-graph')
    i(class='o-icon  +feather-bar-graph-2')
    i(class='o-icon  +feather-pie-graph')
    i(class='o-icon  +feather-star')
    i(class='o-icon  +feather-arrow-left')
    i(class='o-icon  icon-eighty-store')
    i(class='o-icon  +feather-arrow-right')
    i(class='o-icon  +feather-arrow-up')
    i(class='o-icon  +feather-arrow-down')
    i(class='o-icon  +feather-volume')
    i(class='o-icon  +feather-mute')
    i(class='o-icon  +feather-content-right')
    i(class='o-icon  +feather-content-left')
    i(class='o-icon  +feather-grid')
    i(class='o-icon  +feather-grid-2')
    i(class='o-icon  +feather-columns')
    i(class='o-icon  +feather-loader')
    i(class='o-icon  +feather-bag')
    i(class='o-icon  +feather-ban')
    i(class='o-icon  +feather-flag')
    i(class='o-icon  +feather-trash')
    i(class='o-icon  +feather-expand')
    i(class='o-icon  +feather-contract')
    i(class='o-icon  +feather-maximize')
    i(class='o-icon  +feather-minimize')
    i(class='o-icon  +feather-plus')
    i(class='o-icon  +feather-minus')
    i(class='o-icon  +feather-check')
    i(class='o-icon  +feather-cross')
    i(class='o-icon  +feather-move')
    i(class='o-icon  +feather-delete')
    i(class='o-icon  +feather-menu')
    i(class='o-icon  +feather-archive')
    i(class='o-icon  +feather-inbox')
    i(class='o-icon  +feather-outbox')
    i(class='o-icon  +feather-file')
    i(class='o-icon  +feather-file-add')
    i(class='o-icon  +feather-file-subtract')
    i(class='o-icon  +feather-help')
    i(class='o-icon  +feather-open')
    i(class='o-icon  +feather-ellipsis')
    hr.o-rule
    h1 Group Buttons
    .o-btn-group(role='group', aria-label='...')
      button.btn.btn-default(type='button') Left
      button.btn.btn-default(type='button') Middle
      button.btn.btn-default(type='button') Right
    .o-btn-group(role='group', aria-label='...')
      button.o-btn(type='button') Left
      button.o-btn(type='button') Middle
      button.o-btn(type='button') Right
    .o-btn-group(class="rounded" role='group', aria-label='...')
      button.o-btn(type='button') Left
      button.o-btn(type='button') Middle
      button.o-btn(type='button') Right
    .o-btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
      .o-btn-toolbar__group(role='group', aria-label='First group')
        button.o-btn(type='button') 1
        button.o-btn(type='button') 2
        button.o-btn(type='button') 3
        button.o-btn(type='button') 4
      .o-btn-toolbar__group(role='group', aria-label='Second group')
        button.o-btn(class="+active" type='button') 5
        button.o-btn(type='button') 6
        button.o-btn(type='button') 7
      .o-btn-toolbar__group(role='group', aria-label='Third group')
        button.o-btn(type='button') 8
    hr.o-rule
    h1 flyout
    .o-flyout.o-btn
      | Foo
      .o-flyout__content
        h1 Lorem
        p Ipsum
    div(class='o-btn  o-flyout  --alt')
      | Foo
      .o-flyout__content
        h1 Lorem
        p Ipsum
    h1 icons soical 
    p.o-image-text
      i.o-image-text__icon
      | words
    p.o-image-text hello
      i(class='o-image-text__icon  --rev')
    h1 Rules
    hr
    hr(class='o-rule')
    hr(class='o-rule  --dotted')
    hr(class='o-rule  --dashed')
    hr(class='o-rule  --ornament' data-ornament="!")
    h1 Split
    dl.o-split
      dt.o-split__title Burger and fries
      dd £5.99
      dt.o-split__title Fillet steak
      dd £19.99
      dt.o-split__title Ice cream
      dd £2.99
      | *
    ol(class='o-split')
      li.first
        b.o-split__title 1st place
        | Bob
      li.second
        b.o-split__title 2nd place
        | Lilly
      li.third
        b.o-split__title 3rd place
        | Ted
    hr.o-rule
    h1 Sprite
    div
      i(class='o-sprite') default
      p default
    div(class='o-sprite  +red-square')
    div(class='o-sprite  +blue-circle')
    div(class='o-sprite  +orange-sqaure')
    div(class='o-sprite  +green-circle')
    div(class='o-sprite  +green-circle')
    ul 
      li 
        a(href='/') 
          i(class='o-sprite  +red-square') Foo bar
      li 
        a(href='/')
          i(class='o-sprite  +blue-circle') Foo bar
      li 
        a(href='#' class='o-sprite  +orange-sqaure') Foo bar or 
        a(href='#' class='o-sprite  +green-circle') Bar baz
      li
        a(href='#')
          i(class='o-sprite   +red-square')
          | Foo bar
      li
        a(href='#')
          i(class='o-sprite   +blue-circle')
          | Foo bar
      li
        a(class='o-sprite   +orange-sqaure' href='#') Foo bar
        | or
        a(class='o-sprite   +green-circle' href='#') Bar baz
    hr.o-rule
    h1 Island
    .o-island
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    h1 emphasis
    p(class='o-emp  +c-error') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +c-info') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +c-warning') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +c-success') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +c-danger') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +error') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +info') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +warning') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +success') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    p(class='o-emp  +danger') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    hr.o-rule
    h1 breadcrumbs
    ul(class='o-nav  o-breadcrumb')
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
    ul(class='o-nav  o-breadcrumb  --line')
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
    ul(class='o-nav  o-breadcrumb  --path')
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
    ul(class='o-nav  o-breadcrumb  --data')
      li(data-breadcrumb="&")
        a(class="" href='') one
      li(data-breadcrumb="&")
        a(class="" href='') one
      li(data-breadcrumb="&")
        a(class="" href='') one
      li(data-breadcrumb="&")
        a(class="" href='') one
    ul(class='o-nav  o-breadcrumb  --arrow')
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
      li
        a(class="" href='') one
    ul(class='o-nav  o-breadcrumb  --arrow')
      a(class="" href='') one
      a(class="" href='') one
      a(class="" href='') one
      a(class="" href='') one
    hr.o-rule
    h1 Pills and Labels
    p.o-label hello
    p(class='o-label  +success') hello
    p(class='o-label  +info') hello
    p(class='o-label  +danger') hello
    p(class='o-label  +warning') hello
    p(class='o-label  +error') hello
    p(class='o-label  +disabled') hello
    p(class='o-label  --pill  +disabled') hello
    p(class='o-label  --pill  +success') hello
    p(class='o-label  --pill  +info') hello
    p(class='o-label  --pill  +danger') hello
    p(class='o-label  --pill  +warning') hello
    p(class='o-label  --pill  +error') hello
    p(class='o-label  --pill  +disabled') hello
    hr.o-rule
    h1 Text Columns
    p.o-cols Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    hr.o-rule
    p(class='o-cols  --2') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    hr.o-rule
    p(class='o-cols  --3') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    hr.o-rule
    p(class='o-cols  --4') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    hr.o-rule
    p(class='o-cols  --5') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    hr.o-rule
    h1 nav
    ul.o-nav
      li one
      li one
      li one
      li one
    ul.o-nav
      a(href='') one
      a(href='') one
      a(href='') one
      a(href='') one
    ul(class='o-nav  --block')
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
    ul(class='o-nav  --fit')
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
    ul(class='o-nav  --banner')
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
    ul(class='o-nav  --stacked')
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
    ul(class='o-nav  --keywords')
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
      li
        a(class="o-btn" href='') one
    hr.o-rule
    h1 media
    .o-media
      img(class='o-media__img' src='http://placehold.it/200' alt="")
      .media__body
        h1 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h1 media
    .o-media
      img(class='o-media__img --right' src='http://placehold.it/200' alt="")
      .media__body 
        h1 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h1 Buttons
    a(class='o-btn  --small', href='') Google
    a(class='o-btn  --large', href='') Google
    a(class='o-btn  --huge', href='') Google
    a(class='o-btn  --full', href='') Google
    a(class='o-btn  --alpha', href='') Google
    a(class='o-btn  --beta', href='') Google
    a(class='o-btn  --gamma', href='') Google
    a(class='o-btn  --natural', href='') Google
    a(class='o-btn  --inactive', href='') Google
    a(class='o-btn  --round', href='') Google
    a(class='o-btn  +rounded', href='') Google
    a(class='o-btn  +positive', href='') Google
    a(class='o-btn  +negative', href='') Google
    br
    hr.o-rule
    br
    h1  Figure
    figure.o-fig
      img(class='+rounded' src= "http://placehold.it/600")
      figcaption.o-fig__capt Lorem ipsum dolor sit amet
    br
    hr.o-rule
    br
    h1  Figure Add
    figure.o-fig
      img(src= "http://placehold.it/600")
      figcaption.o-fig__capt Lorem ipsum dolor sit amet
    br
    hr.o-rule
    br
    h1 Images Objects
    img(src='http://placehold.it/50')
    img(class='o-img  --full' src='http://placehold.it/50')
    img(class='o-img  --right' src='http://placehold.it/50')
    img(class='o-img  --left' src='http://placehold.it/50')
    img(class='o-img  --center' src='http://placehold.it/50')
    img(class='o-img  --circle' src='http://placehold.it/50')
    img(class='o-img  +rounded' src='http://placehold.it/50')

    br
    hr.o-rule
    br
    h1 Thumbnail
    .o-thumb
      img(class="o-thumb__item" src= "http://placehold.it/100")
    h1 Thumbnail
    .o-thumb
      img(class="o-thumb__item  +rounded" src= "http://placehold.it/100")
    hr.o-rule
    h1 Alerts
    .o-alert(class='+success')
      p success hello
    .o-alert(class='+danger')
      p success hello
    .o-alert(class='+error')
      p success hello
    .o-alert(class='+warning')
      p success hello
    .o-alert(class='+info')
      p success hello
    .o-alert(class='+disabled')
      p success hello
    hr.o-rule
    h1 ul Block Lists
    ul.o-block-list
      li list
      li 
        a(href="/").o-block-list__link another
      li another
      li another
    h1 dl Block Lists
    dl.o-block-list
      dt hell
      dd hell
      dt hell
      dd hell
      dt hell
      dd hell
    h1 ul Block Lists bordered
    ul.o-block-list.--bordered
      li above
      li list
      li asdfas
      li asdfa
    h1 dl Block Lists bordered
    dl.o-block-list.--bordered
      dt hell
      dd hell
      dt hell
      dd hell
      dt hell
      dd hell